/* App.css */

:root {
  --text-color: black; /* Set default text color */
  background-color: #f0f0f0;
  margin: 0%;
  padding: 0%;
}
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  min-height: 100vh;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.dark-bg {
  background-color: #333;
}

.light-bg {
  background-color: #f0f0f0;
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
  transition: background 0.3s, color 0.3s;
}

.input-field::placeholder {
  color: #9ca3af;
}

.dark-mode .input-field {
  color: white;
}

.dark-mode .input-field::placeholder {
  color: #ccc;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.3s;
}

.button-green {
  background-color: green;
  color: white;
}

.button-green:hover {
  background-color: #006400;
}

.todo-card {
  width: 300px; /* Set a fixed width */
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.todo-card:hover {
  transform: scale(1.05);
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-color); /* Set default text color */
}

.description {
  font-size: 0.875rem;
  color: #9ca3af;
  margin-bottom: 0.5rem;
  white-space: normal; /* Allow text wrapping */
}

.read-more {
  color: #3b82f6;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.edit-input {
  width: 80%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
  transition: background 0.3s, color 0.3s;
}

.edit-input::placeholder {
  color: #9ca3af;
}

.button-save {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #3b82f6;
  color: white;
}

.button-save:hover {
  background-color: #1e3a8a;
}

.button-edit {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #f59e0b;
  color: white;
}

.button-edit:hover {
  background-color: #d97706;
}

.button-delete {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.3s;
  background-color: #e53e3e;
  color: white;
}

.button-delete:hover {
  background-color: #c53030;
}

.dark-bg-light {
  background-color: #444; /* Set a lighter black color for dark mode cards */
}
